In [1]:
import pandas as pd
import sqlite3 as db

In [3]:
# !python ForDelDatabase.py

# Create Database

In [4]:
# establish connection to SQL database
cnx = db.connect('Fordel.db')

#mc for mouseclick
mc = cnx.cursor()

cnx.commit()
# cnx.close()

In [5]:
# df_people = pd.read_excel('deldata/tabstoreUpdated.xlsx', sheet_name='People', engine='openpyxl')
csv_people = pd.read_csv('deldata/PEOPLE.csv', index_col=None)

people = csv_people.copy()

display(people)

              Person   Region
0      Anna Andreadi     West
1        Chuck Magee     East
2     Kelly Williams  Central
3  Cassandra Brandow    South

In [6]:
people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Person  4 non-null      object
 1   Region  4 non-null      object
dtypes: object(2)
memory usage: 196.0+ bytes

In [7]:
# create sql table using dataframe that was a csv
people_table = people.to_sql(name='STpeople', con=cnx, if_exists='replace', index=False)

In [8]:
# trying a different way to read in the data directly from Excel file
# using update Excel file, so need openpyxl 
df_returns = pd.read_excel('deldata/tabstoreUpdated.xlsx', sheet_name='Returns', engine='openpyxl')

returns = df_returns.copy()

display(returns)

    Returned        Order ID
0        Yes  CA-2017-153822
1        Yes  CA-2017-129707
2        Yes  CA-2014-152345
3        Yes  CA-2015-156440
4        Yes  US-2017-155999
..       ...             ...
291      Yes  CA-2015-101910
292      Yes  CA-2017-156958
293      Yes  CA-2016-105585
294      Yes  CA-2016-148796
295      Yes  CA-2015-149636

[296 rows x 2 columns]

In [9]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  296 non-null    object
 1   Order ID  296 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB

In [11]:
quartered_orders = pd.read_excel('deldata/tabstoreUpdated.xlsx', sheet_name='OrdersQuartered', engine='openpyxl')

orders = quartered_orders.copy()

display(orders)

,Row ID,Order ID,Order Date,MONTH,QUARTER,YEAR,QY,Ship Date,DELIVERY,Ship Mode,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,42682,11,Q4,2016,Q4Y16,42685,3,Second Class,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,42682,11,Q4,2016,Q4Y16,42685,3,Second Class,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,42533,6,Q2,2016,Q2Y16,42537,4,Second Class,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,42288,10,Q4,2015,Q4Y15,42295,7,Standard Class,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,42288,10,Q4,2015,Q4Y15,42295,7,Standard Class,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,41660,1,Q1,2014,Q1Y14,41662,2,Second Class,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,42792,2,Q1,2017,Q1Y17,42797,5,Standard Class,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,42792,2,Q1,2017,Q1Y17,42797,5,Standard Class,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,42792,2,Q1,2017,Q1Y17,42797,5,Standard Class,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,42859,5,Q2,2017,Q2Y17,42864,5,Second Class,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [12]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   int64
 3   MONTH          9994 non-null   int64
 4   QUARTER        9994 non-null   object
 5   YEAR           9994 non-null   int64
 6   QY             9994 non-null   object
 7   Ship Date      9994 non-null   int64
 8   DELIVERY       9994 non-null   int64
 9   Ship Mode      9994 non-null   object
 10  SAVE           9994 non-null   object
 11  SPACE          9994 non-null   object
 12  CLASS          9994 non-null   object
 13  Customer ID    9994 non-null   object
 14  Customer Name  9994 non-null   object
 15  Segment        9994 non-null   object
 16  Country        9994 non-null   object
 17  City           9994 non-null   object
 18  State          9994 non-null   object
 19  Postal Code    9994 non-null   int64
 20  Region         9994 non-null   object
 21  Product ID     9994 non-null   object
 22  Category       9994 non-null   object
 23  Sub-Category   9994 non-null   object
 24  Product Name   9994 non-null   object
 25  Sales          9994 non-null   float64
 26  Quantity       9994 non-null   int64
 27  Discount       9994 non-null   float64
 28  Profit         9994 non-null   float64
dtypes: float64(3), int64(8), object(18)
memory usage: 2.2+ MB

# Clean Orders

In [13]:
orders_table = orders.to_sql(name='STorders', con=cnx, if_exists='replace', index=False)

In [14]:
# add dataframes to sql database as separate tables

returns_table = returns.to_sql(name='STreturns', con=cnx, if_exists='replace', index=False)